#hover-audio-div {
	position: fixed;
	bottom:20px;
	right:0;
}

#hover-audio-div-left {
	position: fixed;
	bottom:20px;
	left:0;
}

#hover-audio-loading {
	padding: 5px;
	background: #ee3;
	vertical-align: center;
	text-align: center;
	border-radius: 5px;
}

.ui-effects-transfer {
    border: 1px solid black;
  }