html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	  -ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	background: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: inline-block;
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
	vertical-align: middle;
}

h1 {
	font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

img {
	padding-right: 10px;
	vertical-align: middle;
}

p {
  margin: 0 0 10px;
}

.page-header {
	color: #fff;
	padding-bottom: 9px;
	margin: 20px 0 15px;
}

.content {
	background-color: #eee;
	padding: 20px;
	margin-bottom: 20px;
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.container {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	*zoom: 1;
}

.container:before,
.container:after {
	display: table;
	line-height: 0;
	content: "";
}

.container:after {
	clear: both;
}

.right {
	float: right;
}

.disabled-site {
	background-color: #fff;
	padding: 5px;
	border-bottom: dotted #eee 1px;
}

#status {
	background: rgba(255,255,0, .75);
	color: #000;
    position:fixed;
    top: 0;
    width: 100%;
    padding: 5px;
	font-weight: bold;
    text-align:center;
}